<!DOCTYPE html>
<html lang="es">
<head>

<title>Lista de clientes</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <p>
            <label>Busca en la agenda:
                <input type="text" name="txtAgenda" list="clientes" />
                <datalist id="clientes">
                    {%for cliente in lista_clientes %}
                    <option value="{{cliente}}"></option>
                    {% endfor%}
                </datalist>
            </label>
    <p>
        </form>
 </body>
</html>